#main-box {
    width: 350px;
    height: 75%;
    background-image: url("./back.jpg");
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}
#world-box {
    margin-left: 25px;
    margin-top: 25px;
}
#keyboard-box {
    margin-top: 25px;
    margin-left: 25px;
}
.letters {
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: inset 2px 2px 2px rgb(59, 59, 59);
    border: 1px solid rgb(168, 166, 166);
    font-size: 26px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.alphabet-letters {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid rgb(168, 166, 166);
    font-size: 18px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#alphabets2 {
    margin-left: 13px;
}
#alphabets3 {
    margin-left: 43px;
}
#alphabets4 {
    margin-left: 35px;
}
#delete-letter {
    width: 40px;
}
#enter-letter {
    width: 170px;
}
