#main-box {
    width: 500px;
    height: 470px;
    background-image: url("./back.jpg");
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}
#world-box {
    margin-left: 25px;
    margin-top: 15px;
    border-spacing:0 3px;
}
#keyboard-box {
    margin-top: 15px;
    margin-left: 25px;
}
.letters {
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: inset 4px 4px 4px rgb(59, 59, 59);
    border: 1px solid rgb(168, 166, 166);
    font-size: 26px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.alphabet-letters {
    box-shadow: -2px -2px 2px rgb(59, 59, 59);
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid rgb(168, 166, 166);
    font-size: 18px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
#alphabets1,#alphabets2, #alphabets3, #alphabets4 {
    border-spacing:0px 0px;
}
#alphabets1 {
    margin-left: 15px;
}
#alphabets2, #alphabets3, #alphabets4 {
    margin-left: 28px;
}

#delete-letter {
    width: 44px;
    height: 24px;
}
#enter-letter {
    background-color: greenyellow;
    width: 212px;
}
