#outer-box {
    width: 75%;
    height: 75%;
    background-color: rgb(124, 124, 124);
    margin: auto;
    margin-top: 10%;
    padding-top: 0.5%;
}
#main-box {
    width: 75%;
    height: 75%;
    background-image: url("./back.jpg");
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}
.letters {
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: inset 2px 2px 2px rgb(59, 59, 59);
    border: 1px solid rgb(168, 166, 166);
    font-size: 26px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

